.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.idea/
*.log
*.tmp
*.temp
*.DS_Store
Thumbs.db
