name: .NET Build & Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore solution
        run: dotnet restore

      - name: Build API
        run: dotnet build RoomBooker.Api/RoomBooker.Api.csproj --no-restore --configuration Release

      - name: Build Infrastructure
        run: dotnet build RoomBooker.Infrastructure/RoomBooker.Infrastructure.csproj --no-restore --configuration Release

      - name: Build Core
        run: dotnet build RoomBooker.Core/RoomBooker.Core.csproj --no-restore --configuration Release

      - name: Run tests
        run: dotnet test RoomBooker.Tests/RoomBooker.Tests.csproj --no-build --configuration Release
